.table {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 200px;
}

.guest-list {
  list-style: none;
  padding: 0;
  min-height: 50px;
}

.guest-list li {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  cursor: grab;
}
